*.exe
index.html
docs/index.html
docs/html/
examples/msvc/GameJoltAPI/Debug/
examples/msvc/GameJoltAPI/Release/
examples/msvc/GameJoltAPI.opensdf
examples/msvc/GameJoltAPI.sdf
examples/msvc/GameJoltAPI.suo
examples/msvc/ipch/
examples/msvc/Debug/
examples/msvc/Release/
examples/cb/obj/
examples/cb/GameJoltAPI.depend
examples/cb/GameJoltAPI.layout
examples/nb/nbproject/*.mk
examples/nb/nbproject/*.bash
examples/nb/nbproject/private/*.mk
examples/nb/.dep.inc
examples/nb/build/
examples/*.pdb
examples/*.ilk